# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/
ENV/

# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# =========================
# IDE
# =========================

.vscode/
.idea/

